doctype html
html
    head
        title=title
        script(src='/socket/socket.io.js',type='text/javascript')
        script(type='text/javascript').
            var socket = io.connect(location.origin,{
                path:'/socket'
            });
            socket.on('msg', function (data) {

            });
    body
        span #{uid}